body {
  font-family: 'Covered By Your Grace', cursive;
  background: url(/static/giftly.png);
  text-align: center;
}

.list {
  margin: 0 auto;
  width: 300px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

p {
  font-size: 22px;
  letter-spacing: 3px;
}

p.completed {
  text-decoration: line-through;
}

button {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 18px;
  margin: auto;
}
